<form action="/auth/signup" method="POST">
   <label> Username
      <input type="text" name="username" placeholder="Your username" value="{{username}}">
   </label>
   <br />
   <label> Email
      <input type="text" name="email" placeholder="Your email" value="{{email}}">
   </label>
   <br />
   <label> Password
      <input type="password" name="password" placeholder="Your password">
   </label>
   <br />
   <label>Confirm Password
    <input
      type='password'
      name='confirmPassword'
      placeholder='Repeat password'
    />
  </label>
  <br />

   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}