<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="nav-container">
    <nav>
      <div>
      <p>lolShare</p>
      </div>
      <div>
        {{!-- pending if isLoggedIn show log out and viceversa --}}
      <ul>
        <li>
          <a href="/auth/login">Log in</a>
        </li>
        <li>
          <a href="/auth/signup">Sign up</a>
        </li>
      </ul>
      </div>
    </nav>
    </div>

    {{{body}}}

    <script src="/js/script.js"></script>
    <footer>&copy; lolShare | 2022</footer>
  </body>

</html>