<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header class="main-header"> 
    <div class="nav-container">
    <nav>
      <div class="logo">
      
        <a href="/" class="main-logo">LolShare
        
        </a>
      </div>
      <div class="log-bar">
      <ul>
        {{#unless isLoggedIn}}
        <li>
          <a href="/auth/login">Log in</a>
        </li>
        <li>
          <a href="/auth/signup">Sign up</a>
        </li>
        {{else}}
        <li>
          <a href="/auth/logout">Log out</a>
        </li>
        {{/unless}}
      </ul>
      </div>
    </nav>
    </div>
    </header>

    {{{body}}}

    <footer>&copy; lolShare | 2022</footer>

    <script src="/js/script.js"></script>
    
  </body>

</html>