<h2 class="main-h2">DELETE ACCOUNT</h2>

<div class="upload-meme-main">
<p>Your account will be eradicated</p>
<br>

<form method="post" action="/user/{{user._id}}/delete-user">

<button class="destroy" type="submit">Delete your User</button>

</form>
</div>

