<h2>Update user</h2>

{{! update username, update email }}

<form method="post" action="/user/{{user._id}}/update-user">
  <label>Username
    <input
      type="text"
      name="username"
      placeholder="Username"
      value="{{user.username}}"
    />
  </label>
  <br />

  <label>Email
    <input
      type="text"
      name="email"
      placeholder="Email"
      value="{{user.email}}"
    />
  </label>
  <br />
  {{!-- <label>Password
    <input type="password" name="password" placeholder="Password">
  </label> --}}
  {{!-- <label>Confirm password
    <input type="password" name="confirmPassword" placeholder="Confirm password">
  </label> --}}

  <button type="submit">Change yo deets</button>

</form>