<h2 class="main-h2">Update password</h2>

{{! update username, update email }}
<div class="upload-meme-main">
<form method="post" action="/user/{{user._id}}/update-password">
  <label>Password
    <input type="password" name="password" placeholder="Password">
  </label>
  <br>
  <label>New Password
    <input type="password" name="newPassword" placeholder="New Password">
  </label>
  <br>
  <label>Confirm password
    <input type="password" name="confirmPassword" placeholder="Confirm password">
  </label>
  <br>  
  <button type="submit">Change yer details</button>

</form>
</div>