<form
  method="post"
  action="upload-meme"
  enctype="multipart/form-data"
>
<h2 class="main-h1">UPLOAD YOUR MEME</h2>
<div class="upload-meme-main">
  <input type="file" name="meme-image" />
  <label> Meme Title
  <input type="text" name="memeTitle" placeholder="Meme Title"/>
  </label>
  <br>
  <button type="submit">Submit Yer Meme</button>
</form>
{{!-- <div> --}}
  {{!-- {{#if memeCreated}}
    <img src="{{memeCreated}}" />
  {{/if}} --}}
{{!-- </div> --}}
</div>