<form
  method="post"
  action="upload-meme"
  enctype="multipart/form-data"
>
  <input type="file" name="meme-image" />
  <label> Meme Title
  <input type="text" name="memeTitle" placeholder="Meme Title"/>
</label>
  <button type="submit">Submit Yo Meme</button>
</form>
<div>
  {{#if memeCreated}}
    <img src="{{memeCreated}}" />
  {{/if}}
</div>