/************** RESET CSS ************/
*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: black;
  color: white;
  display: grid;
  text-decoration: none;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

ul{
  list-style: none;
}

/* Header/Navbar*/

.main-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  height: 100px;
  padding: 0 30px;
}

/* Logo*/

.logo{
  width: 200px;
  height: auto;
}

.logo img{
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  color: 15px;
}


img {
  width: 100vh;
}

.results{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px;
}

.meme-title {
  font-size: 1.5rem;
}

/* .main-header {
  position: fixed;
} */

